p {
  color: #fff;
}
a {
  color: #fff;
}
.contactsWrapper {
  display: flex;
  flex-direction: column;
  background-color: #232323;
  padding-top: 150px;
  padding-left: 200px;
  padding-bottom: 98px;
  width: 1200px;
}
.mainTitle {
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  line-height: 0.56;
  margin-bottom: 79px;
}
.addressBlock {
  color: #fff;
}
.addressTitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.272;
}
.addressContainer {
  margin-bottom: 53px;
}
.addressItem {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}
.phone {
  line-height: 1.077;
}
.addressItem:not(:last-child) {
  margin-bottom: 28px;
}
.feedback {
  font-weight: 600;
  font-size: 30px;
  line-height: 0.933;
  color: #ffffff;
  margin-bottom: 13px;
}
.textWrapper {
  font-weight: 400;
  font-size: 18px;
  line-height: 0.555;
  color: #ffffff;
  margin-bottom: 45px;
}
